@import 'reset.pcss';
@import 'components/index.pcss';
@import 'components/App/index.pcss';

.logger {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.25em 0.5em;
	color: #AE9;
	font-family: sans-serif;
	background-color: rgba(0,0,0,0.75);
	white-space: pre-line;
}
