{
  "rules": {
    "quotes": 0,
    "strict": 0,
    "no-console": 0,
    "space-infix-ops": 0,
    "curly": 0,
    "indent": [1, "tab"],
    "new-cap": 0,
    "key-spacing": 0,
    "no-undef": 2,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-floating-decimal": 1,
    "space-before-blocks": 1
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true
  },
  "globals": {
    "ARGV": true,
    "imports": true,
    "print": true,
    "printerr": true
  }
}
